In [63]:
import configparser
import mysql.connector
from mysql.connector import errorcode
import pandas as pd
from db_queries import select_queries
import os

### Parse the DB Configuration file

In [52]:
config = configparser.ConfigParser()
config.read('.my.cnf')

['.my.cnf']

### Connect MySQL DB

In [53]:
try:
    cnx = mysql.connector.connect(**config['mysql'])
    print('Connected Successfully...')
    df = pd.read_sql(select_queries[0], cnx)
    print(df.head())
    print(df.dtypes)

except Exception as e:
    print(f'Error...{e}')

finally:
    cnx.close()

Connected Successfully...
   Rank                    Title                     Genre  \
0     1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1     2               Prometheus  Adventure,Mystery,Sci-Fi
2     3                    Split           Horror,Thriller

                                         Description            Director  \
0  A group of intergalactic criminals are forced ...          James Gunn
1  Following clues to the origin of mankind, a te...        Ridley Scott
2  Three girls are kidnapped by a man with a diag...  M. Night Shyamalan

                                              Actors  Year  Runtime (Minutes)  \
0  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014                121
1  Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012                124
2  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016                117

   Rating   Votes  Revenue (Millions)  Metascore
0     8.1  757074              333.13         76
1     7.0  485820              126.46         65
2     7.3  157606              138.12         62
Rank                    int64
Title                  object
Genre                  object
Description            object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore               int64
dtype: object

e:\pyenv\etl_projects\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

### Use Pandas filter

In [61]:
print(df['Year'].unique())

[2014 2012 2016]

### Create a filter variable

In [67]:
yr_2016 = df['Year'] == 2014
print(df.count())

Rank                  3
Title                 3
Genre                 3
Description           3
Director              3
Actors                3
Year                  3
Runtime (Minutes)     3
Rating                3
Votes                 3
Revenue (Millions)    3
Metascore             3
dtype: int64

### Write CSV file to local directory in OS File path

In [56]:
cur_path = os.getcwd()
file = 'movies.csv'
file_path = os.path.join(cur_path, 'data_files', file )
print(file_path)

e:\ETLProject1\etl1\data_files\movies.csv

In [58]:
df[yr_2016].to_csv(file_path)